@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 2rem;
  }
  .hero-animation {
    width: 100%;
    height: auto;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .hero-buttons button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

::-webkit-scrollbar {
    width: 0px; /* Set the width of the scrollbar to 0 */
    height: 0px; /* Set the height of the scrollbar to 0 */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Ensure the scrollbar thumb is transparent */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Ensure the scrollbar track is transparent */
  }
